@media screen and (max-width: 471px){
    .infos_principais {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../images/fundo_home.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 6vw;
            text-shadow: 1px 1px 5px black;
            color: #fff;
            font-family: "Baloo Thambi", sans-serif;
        }

        & p {
            font-size: 3.5vw;
            font-weight: 700;
            color: #fff;
            margin-top: 5vh;
        }

        & .saiba_mais {
            font-size: 4vw;
            margin-top: 7vh;
        }

        & img {
            width: 10%;
        }
    }
}

@media screen and (max-width: 480px)  and (min-width: 472px) {
    .infos_principais {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../images/fundo_home.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 5vw;
            text-shadow: 1px 1px 5px black;
            color: #fff;
            font-family: "Baloo Thambi", sans-serif;
        }

        & p {
            font-size: 2.8vw;
            font-weight: 700;
            color: #fff;
            margin-top: 5vh;
        }

        & .saiba_mais {
            font-size: 3vw;
            margin-top: 7vh;
        }

        & img {
            width: 10%;
        }
    }
}

@media screen and (min-width: 485px) and (max-width: 667px) {
    .infos_principais {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../images/fundo_home.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 5vw;
            text-shadow: 1px 1px 5px black;
            color: #fff;
            font-family: "Baloo Thambi", sans-serif;
        }

        & p {
            font-size: 2.8vw;
            font-weight: 700;
            color: #fff;
            margin-top: 5vh;
        }

        & .saiba_mais {
            font-size: 2.8vw;
            margin-top: 7vh;
        }

        & img {
            width: 10%;
        }
    }
}

@media screen and (min-width: 668px) and (max-width: 1023px) {
    .infos_principais {
        position: relative;
        width: 100%;
        height: 120vh;
        background-image: url("../images/fundo_home.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 5vw;
            text-shadow: 1px 1px 5px black;
            color: #fff;
            font-family: "Baloo Thambi", sans-serif;
        }

        & p {
            font-size: 2.8vw;
            font-weight: 700;
            color: #fff;
            margin-top: 5vh;
        }

        & .saiba_mais {
            font-size: 2.8vw;
            margin-top: 7vh;
        }

        & img {
            width: 10%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .infos_principais {
        position: relative;
        width: 100%;
        height: 120vh;
        background-image: url("../images/fundo_home.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 3vw;
            text-shadow: 1px 1px 5px black;
            color: #fff;
            font-family: "Baloo Thambi", sans-serif;
        }

        & p {
            font-size: 2.4vw;
            font-weight: 700;
            color: #fff;
            margin-top: 5vh;
        }

        & .saiba_mais {
            font-size: 2.3vw;
            margin-top: 7vh;
        }

        & img {
            width: 5%;
        }
    }
}

@media screen and (min-width: 1920px) {
    .infos_principais {
        position: relative;
        width: 100%;
        height: 120vh;
        background-image: url("../images/fundo_home.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 3vw;
            text-shadow: 1px 1px 5px black;
            color: #fff;
            font-family: "Baloo Thambi", sans-serif;
        }

        & p {
            font-size: 2.4vw;
            font-weight: 700;
            color: #fff;
            margin-top: 5vh;
        }

        & .saiba_mais {
            font-size: 2.3vw;
            margin-top: 7vh;
        }

        & img {
            width: 5%;
        }
    }
}   