@font-face {
  font-family: "Baloo Thambi";
  src: url(../src/assets_introducao/font/BalooThambi-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}